{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  {% if gear %}
    <h1>Edit {{ gear.make }} {{ gear.model }} {{ gear.type }}</h1>
  {% else %}
    <h1>New Gear</h1>
  {% endif %}
</div>

<form action="" method="post" class="form-container" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <label for="id_image">Upload Image:</label>
  <input type="file" name="image" id="id_image" required>

  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}