{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gear/delete.css' %}" />
{% endblock %}
{% block content %}

<div class="delete-container">
  <div>

    <h2>Are you sure you want to delete {{ gear.make }} {{ gear.model }}?</h2>
  
    <form action="" method="post" class="form">
      {% csrf_token %}
      <button><a href="{% url 'gear-detail' gear.id %}" class="cancel-btn">Cancel</a></button>
      <button type="submit" class="delete-btn">Yes - Delete!</button>
    </form>
  </div>
</div>

{% endblock %}