{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gear/gear-index.css' %}" />
{% endblock %}
{% block content %}

  <header class="index-header">
    <h1>{{ user.username }}'s Gear Inventory</h1>
    <div>
      <form method="GET">
        <label for="type">Sort by type:</label>
        <select name="type" id="type" onchange="this.form.submit()">
          <option value="">-</option>
          {% for gear_type in gear_types %}
            <option value="{{ gear_type }}" {% if gear_type == selected_type %}selected{% endif %}>{{ gear_type }}</option>
          {% endfor %}
        </select>
      </form>
      <button><a href="{% url 'gear-create' %}">Add an item</a></button>
    </div>
  </header>
  <section class="card-container">
    {% for item in gear %}
      <div class="card">
        <a href="/gear/{{ item.id }}">
          <div class="card-content">
            <h2 class="card-title">{{ item.make }} {{ item.model }}</h2>
            <div class="card-img-container">
              <img
                src="{{ item.image }}" alt="{{ gear.make }} {{ gear.model }}"
              />
            </div>
            <div class="gear-details">
              <p>Price: ${{ item.cost }}</p>
              <p>Type: {{ item.type }}</p>
              <p>Open for trade: {{ item.trade }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>

{% endblock %}