{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>The Lockout</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
        <div class="nav-container">
          <div class="nav-left">
            <h1>The Lockout</h1>
          </div>
          <div class="nav-right">
            <button><a href="{% url 'gear-index' %}">Gear Inventory</a></button>
            <div>
              <form action="{% url 'logout' %}" id="logout-form" method="POST">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </div>
          </div>
        </div>
        {% else %}
        <div class="nav-container">  
          <div class="nav-left">
            <h1>The Lockout</h1>
          </div>
          <div class="nav-right">
            <button><a href="{% url 'home' %}">Login</a></button>
            <button><a href="{% url 'signup' %}">Signup</a></button>
          </div>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
     <div class="main-wrapper">
       {% block content %}
       {% endblock %}
     </div>
    </main>
  </body>
</html>