* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  min-height: 100vh;
  background-color: #b7e4c7;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  background-color: #2d6a4f;
  height: 75px;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;

}

li {
  list-style-type: none;
}

button {
  font-size: 16px;
  padding: 4px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.nav-left {
  padding-left: 25px;
  font-size: 28px;
  color: white;
  text-shadow: -3px 3px black;
}

.nav-right {
  display: flex;
  gap: 15px;
  padding-right: 50px;
}

.main-wrapper {
  width: 75%;
  min-height: 100vh;
  background-color: #e9ecef;
}