.login-form {
  min-height: 100vh;
  display: flex;
  padding-bottom: 20vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}


input {
  font-size: 16px;
  padding: 4px;
  margin: 10px;
}

